@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Poppins:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: Montserrat;
    font-weight: 500;
    font-size: 24px;
}

h1 {
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    font-size: 58px;
    line-height: 80px;
    color: #ffffff;
}


body {
    background-color: #ffffff;
}

a {
    color: #252B42;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
}
ul {
    list-style: none;
}

.content {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.navigation {
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
    padding: 26px 40px 28px 70px;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
}

.navigation ul {
    display: flex;
    align-items: center;
    gap: 94px;
}
.header {
    min-height: 619px;
    padding-top: 73px;
    padding-bottom: 146px;

    background-color: #252B42;
    background-image: url('./img/headerBg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}


.header > .content {
    max-width: 937px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

h2, .h2 {
    font-weight: 700;
    color: #F6F6F6;
}
p {
    color: #F6F6F6;
    font-weight: 500;
}
.button-area {
    display: flex;
    justify-content: center;
    gap: 34px;
    padding-top: 24px;
}
.button-area button {
    width: 236px;
    height: 68px;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    color: #FFF;
    background-color: #FA4A0C00;
    border: 1px solid #FFF;
}
.phones {
    height: 600px;
    position: relative;
}
.mob1 {
    position: absolute;
    top: -130px;
    left: 30%;
    z-index: 10;
}
.mob2 {
    position: absolute;
    top: -100px;
    left: 50%;
    z-index: 9;
}