@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@font-face {
    font-family: 'Georgia';
    src: url("../assets/georgia.ttf");
}

@font-face {
    font-family: 'Palatino';
    src: url("../assets/palatinolinotype.ttf");
}

:root {
    --white: #fff;
    --gray: #FAFAFA;
    --main: #45525B;
    --optional: #353732;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6,
p {
    margin: 0;
    font-size: inherit;
    color: inherit;
    font-weight: 400;
}
.content {
    margin: 0 auto;
}

a {
    font-size: inherit;
    color: inherit;
    text-decoration: none;
}
ul {
    list-style: none;
}

.wrapper {
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
    padding-left: 120px;
    padding-right: 120px;
}


main .wrapper {
    max-width: 1040px;    
    padding-left: 120px;
    padding-right: 120px;
}

/* *! Navigation */
.navigation {
    background-color: var(--white);
}

.navigation > .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.navigation > .content ul {
    display: flex;
    align-items: center;
    gap: 30px;
}

/* *! Header */
.header {
    padding-top: 100px;
    padding-bottom: 108px;
}

.header > .content {
    max-width: 800px;
    width: 100%;
} 

.header > .content > h1 {
    margin-top: 20px;
    font-size: 36px;
    color: var(--optional);
    font-family: 'Palatino';
}

/* ! Main */

.intro {
    background-color: var(--gray); 
}

.intro > .content {
    padding-top: 100px;
    padding-bottom: 100px;
    display: grid;
    gap: 20px;
    row-gap: 20px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: 
    "article1 article1 article1 article1 article2 article2"
    "article1 article1 article1 article1 article3 article3"
    "article4 article4 article4 article5 article5 article5"
    "article6 article6 article7 article7 article8 article8";
}

.article {
    background-color: var(--white);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.article .text {
    padding: 20px;
}

.article img {
    width: 100%;
}

.article .category {
    font-family: 'Poppins';
    font-size: 12px;
    color: var(--optional);
    margin-bottom: 12px;
}

.article h2 {
    color: var(--main);
    font-family: 'Palatino';
    font-size: 25px;
    margin-bottom: 12px;
}
.article .date {
    margin-top: auto;
}
.article1 {
    grid-area: article1;
}
.article2 {
    grid-area: article2;
}
.article3 {
    grid-area: article3;
}
.article4 {
    grid-area: article4;
}
.article5 {
    grid-area: article5;
}
.article6 {
    grid-area: article6;
}
.article7 {
    grid-area: article7;
}
.article8 {
    grid-area: article8;
}

.subcribe.wrapper {
    background-color: var(--white);
    padding-top: 100px;
    padding-bottom: 100px;
    gap: 19px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.subcribe div:first-child {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.subcribe div:last-child {
    display: flex;
    flex-direction: column;
}

.subcribe h2 {
    color: #353732;
    font-family: 'Palatino';
    font-size: 28px;
    margin-bottom: 11px;
}

.subcribe p {
    color: #353732;
    font-family: Georgia;
    font-size: 16px;
}

.subcribe div input {
    width: 75%;
    margin-bottom: 10px;
    height: 38px;
    border-radius: 8px;
    border: 1px solid #E5E7EB;
    background: rgba(82, 80, 59, 0.02);
}

div.latest {
    background-color: var(--gray);
    padding-top: 115px;
    padding-bottom: 100px;
    color: var(--main);
    text-align: center;
}
.news-item {
    text-align: left;
    display: flex;
    align-items: stretch;
    margin-bottom: 56px;
}
.news-item .text {
    height: 100%;
}

.news-item img {
    margin-right: 20px;
} 

.latest h2 {
    font-family: 'Palatino';
    font-size: 18px;
    margin-bottom: 3px;
}
.latest p {
    font-size: 16px;
    font-family: 'Georgia';
    margin-bottom: 6px;
}
.latest span {
    font-size: 11px;
    font-family: 'Georgia';
    margin-top: auto;
}
.view-archive {
    width: fit-content;
    background-color: #ffffff00;
    border: none;
    cursor: pointer;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 15px;
}

.view-archive img {
    margin-left: 3px;
    margin-right: 5px;
    width: fit-content;
}

.footer {
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer .wrapper > * {
    margin-bottom: 20px;
}

.footer .wrapper > div > a {
    margin-right: 20px;
}


@media screen and (max-width: 900px) {
    .wrapper {
        margin: 0 auto;
        max-width: 900px;
        width: 100%;
        padding-left: 60px;
        padding-right: 60px;
    }
}

@media screen and (max-width: 775px) {
    .wrapper {
        margin: 0 auto;
        max-width: 775px;
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }

    main .wrapper {
        padding: 30px;
    }

    .intro > .content {
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas: 
        "article1 article1 article1 article1 article1 article1"
        "article1 article1 article1 article1 article1 article1"
        "article2 article2 article2 article3 article3 article3"
        "article4 article4 article4 article5 article5 article5"
        "article6 article6 article6 article6 article6 article6"
        "article7 article7 article7 article8 article8 article8";
    }

    .news-item {
        flex-direction: column;
    } 
    .news-item div.image {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .wrapper {
        margin: 0 auto;
        max-width: 600px;
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }

    main .wrapper {
        padding: 20px;
    }

    .intro > .content {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "article1"
        "article1"
        "article2"
        "article3"
        "article4"
        "article5"
        "article6"
        "article7"
        "article8"
        ;
    }

    .news-item {
        flex-direction: column;
    } 
    .news-item div.image {
        display: none;
    }
}